<tr>
  <td class="text-center"><%= comment.created_at.strftime('%Y.%m.%d') %></td>
  <td class="text-center"><%= link_to(comment.author, admin_comment_path(comment)) %></td>
  <td><%= truncate(comment.body, :length => 40) %></td>
  <td class="text-center"><%= link_to(comment.post_title, admin_post_path(comment.post))%></td>
  <td class="tbactions text-center">
    <% if policy(comment).update? %>
      <div class="iconbtn" data-toggle="tooltip" data-placement="down" title="编辑">
      <%= link_to admin_comment_path(comment) do %>
        <%= content_tag(:i, "" ,:class=>'fa fa-edit') -%>
      <% end %>
      </div>
      <%= form_for(comment, :as => :comment, :url => admin_comment_path(comment), :html => {:class => 'delete-item', :method => :delete}) do |form| -%>
        <label for="mySubmit-<%= comment.id %>" class="btn-link iconbtn" data-toggle="tooltip" data-placement="down" title="删除"><i class="fa fa-trash"></i></label>
        <input id="mySubmit-<%= comment.id %>" type="submit" value="Go" class="hidden" />
      <% end -%>
    <% else %>
      <div class="iconbtn" data-toggle="tooltip" data-placement="down" title="查看">
        <%= link_to view_admin_comment_path(comment) do %>
          <%= content_tag(:i, "" ,:class=>'fa fa-info-circle') -%>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
