<tr>
  <td class="text-center"><%= format_create_date(pubimage.created_at) %></td>
  <td class="text-center"><%= link_to(pubimage.name, download_admin_pubimage_path(pubimage))%></td>
  <td class="text-center"><%= link_to(pubimage.pimage.url, pubimage.pimage.url)%></td>
  <td class="tbactions text-center">
    <%= form_for(pubimage, :as => :pubimage, :url => admin_pubimage_path(pubimage), :html => {:class => 'delete-item', :method => :delete}) do |form| -%>
      <label for="mySubmit-<%= pubimage.id %>" class="btn-link iconbtn" data-toggle="tooltip" data-placement="down" title="删除"><i class="fa fa-trash"></i></label>
      <input id="mySubmit-<%= pubimage.id %>" type="submit" value="Go" class="hidden" />
    <% end -%>
  </td>
</tr>
