<h1>图像库</h1>

<%= semantic_form_for([:admin, @pubimage]) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <%= form.actions do %>
    <%= form.action :submit, :as => :button %>
  <% end %>
<% end %>

<table id='pubimages'>
  <thead>
    <tr>
      <th>上传时间</th>
      <th>文件名 (点击链接下载)</th>
      <th>URL地址</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% if @pubimages.empty? -%>
      <tr><td colspan="4">当前没有任何图像.</td></tr>
    <% else -%>
      <%= render :partial => 'pubimage', :collection => @pubimages %>
    <% end -%>
  </tbody>

  <tfoot>
    <% if @pubimages.total_pages > 1 -%>
      <tr class="pagination">
        <td colspan='5'>
          <%= will_paginate(@pubimages, :previous_label => '&lt;&lt; Newer', :next_label => 'Older &gt;&gt;') %>
        </td>
      </tr>
    <% end -%>
  </tfoot>
</table>
