<h3>图像库</h3>
<div class="fileform bottom-line">
<%= semantic_form_for([:admin, @pubimage]) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <%= form.actions do %>
    <%= form.action :submit, :as => :button, :button_html => {:class => "btn btn-primary"} %>
  <% end %>
<% end %>
</div>
<div class="table-responsive">
<table id="pubimages" class="table table-striped">
  <thead>
    <tr>
      <th>上传时间</th>
      <th>文件名 (点击链接下载)</th>
      <th>URL地址</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% if @pubimages.empty? -%>
      <tr><td colspan="4">当前没有任何图像.</td></tr>
    <% else -%>
      <%= render :partial => 'pubimage', :collection => @pubimages %>
    <% end -%>
  </tbody>
</table>
  <div class="text-center">
    <%= will_paginate @pubimages, :renderer => MyBootstrapPagination::Rails %>
  </div>
</div>
