<div class="container-fluid">  
  <div class="row"> 
    <div id="summary" class="center-block">
      <h2><%= link_to(enki_config[:title], '/') %></h2>
      <p class="stats"><%= pluralize(@stats.post_count, 'post') %>, <%= pluralize(@stats.comment_count, 'comment') %>, <%= pluralize(@stats.tag_count, 'tag') %></p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div id="recent-posts" class="col-md-6">
      <h3>最近文章</h3>
      <ul class="list-group">
        <% @posts.each_with_index do |post, i| -%>
          <li class="<%= i == 0 ? 'first ' : '' %>item list-group-item">
            <strong><%= link_to(truncate(post.title, :length => 50), 
                      (current_user.try(:admin?) or current_user.id == post.user_id) ? admin_post_path(post) : post_path(post)) %></strong>
            <small><%= l post.published_at, format: :short_day %></small>
            <span class="count badge"><%= link_to(post.approved_comments.size, post_path(post)) %></span>
          </li>
        <% end -%>
      </ul>
    </div>
    <div id="recent-comments" class="col-md-6">
      <h3>最近评论</h3>
      <ul class="list-group">
        <% @comment_activity.each_with_index do |activity, i| -%>
          <li class="<%= i == 0 ? 'first ' : '' %>item list-group-item">
            <strong><%= link_to_post(activity.post, truncate(activity.post.title, :length => 50)) %></strong>
            <span class='small'><%= l activity.most_recent_comment.created_at, format: :short_day %></span>
            <span class='count badge'><%= activity.post.approved_comments.size %></span>
            <ul class="list-inline">
              <% activity.comments.each_with_index do |comment, index| -%>
                <%= content_tag :li, :class => activity.comments.size == index + 1 ? 'last' : nil do -%>
                  <%= link_to(comment.author, admin_comment_path(comment), {:id => "comment-link-#{comment.id}", :class => 'comment-link'}) -%>
                <% end -%>
              <% end -%>
            </ul>
            <% activity.comments.each do |comment| -%>
              <div class='comment-body' id='comment-body-<%= comment.id %>'>
                <div class='comment-actions'>
                  <% if current_user.try(:admin?) %>
                  <div class="iconbtn">
                    <%= link_to admin_comment_path(comment), :alt => 'edit' do %>
                      <%= content_tag(:i, "" ,:class=>'fa fa-edit') -%>
                    <% end %>
                  </div>
                  <%= form_for(comment, :as => :comment, :url => admin_comment_path(comment), :html => {:class => 'delete-item', :id => "delete-comment-#{comment.id}", :method => :delete}) do |form| -%>
                      <label for="mySubmit-<%= comment.id %>" class="btn-link iconbtn"><i class="fa fa-trash"></i></label>
                      <input id="mySubmit-<%= comment.id %>" type="submit" value="Go" class="hidden" />
                  <% end -%>
                  <% end -%>
                </div>
                <%= raw(comment.body_html) %>
              </div>
            <% end -%>
          </li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>