<h3>最近动作列表</h3>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>日期</th>
      <th>描述</th>
      <th>动作</th>
    </tr>
  </thead>

  <tbody>
  <% @undo_items.each do |undo_item| -%>
    <tr>
      <td class="text-center"><%= undo_item.created_at.strftime('%Y.%m.%d') %></td>
      <td class="text-center"><%= undo_item.description %></td>
      <td class="tbactions text-center">
        <%= form_for(undo_item, :as => :undo_item, :url => undo_admin_undo_item_path(undo_item), :html => {:class => 'undo-item', :method => :post}) do |form| -%>
        <label for="mySubmit-<%= undo_item.id %>" class="btn-link iconbtn" data-toggle="tooltip" data-placement="down" title="还原"><i class="fa fa-undo"></i></label>
        <input id="mySubmit-<%= undo_item.id %>" type="submit" value="Go" class="hidden" />
        <% end -%>
      </td>
    </tr>
  <% end -%>
  </tbody>
</table>
</div>
