<tr>
  <td class="text-center hidden-xs"><%= format_create_date(pubfile.created_at) %></td>
  <td class="text-center"><%= link_to(pubfile.name, download_admin_pubfile_path(pubfile))%></td>
  <td class="text-center hidden-xs hidden-sm"><%= truncate(pubfile.description, :length => 40) %></td>
  <td class="tbactions text-center">
     <div class="iconbtn" data-toggle="tooltip" data-placement="down" title="编辑">
    <%= link_to admin_pubfile_path(pubfile) do %>
      <%= content_tag(:i, "" ,:class=>'fa fa-edit') -%>
    <% end %>
    </div>
    <%= form_for(pubfile, :as => :pubfile, :url => admin_pubfile_path(pubfile), :html => {:class => 'delete-item', :method => :delete}) do |form| -%>
      <label for="mySubmit-<%= pubfile.id %>" class="btn-link iconbtn" data-toggle="tooltip" data-placement="down" title="删除"><i class="fa fa-trash"></i></label>
      <input id="mySubmit-<%= pubfile.id %>" type="submit" value="Go" class="hidden" />
    <% end -%>
  </td>
</tr>
