<h3>公共文件库</h3>
<div class="fileform bottom-line">
<%= semantic_form_for([:admin, @pubfile]) do |form| -%>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <%= form.actions do -%>
    <%= form.action :submit, :as => :button, :button_html => {:class => "btn btn-primary"} -%>
  <% end -%>
<% end -%>
</div>

<div class="table-responsive">
<table id="pubfiles" class="table table-striped">
  <thead>
    <tr>
      <th class="hidden-xs">上传时间</th>
      <th>文件名 (点击链接下载)</th>
      <th class="hidden-xs hidden-sm">文件描述</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% if @pubfiles.empty? -%>
      <tr><td colspan="5">当前没有任何文件.</td></tr>
    <% else -%>
      <%= render :partial => 'pubfile', :collection => @pubfiles %>
    <% end -%>
  </tbody>
</table>
  <div class="text-center">
    <%= will_paginate @pubfiles, :renderer => MyBootstrapPagination::Rails %>
  </div>
</div>
