<% content_for :page_title do -%>
  <%= posts_title(@category || @tag) %>
<% end -%>

<% content_for :head do -%>
  <% if not @category.nil? -%>
    <%= auto_discovery_link_tag(:atom, formatted_posts_url(:category => @category, :format => 'atom')) %>
  <% else -%>
    <%= auto_discovery_link_tag(:atom, formatted_posts_url(:format => 'atom')) %>
  <% end -%>
<% end -%>

<% if @posts.empty? -%>
	<p>There are no posts yet.</p>
<% else -%>
	<% @posts.each do |post| -%>
	<div class="post" id="<%= dom_id(post) -%>">
	  <%= render post %>
	</div>
	<% end -%>
  <%= will_paginate @posts, :renderer => MyBootstrapPagination::Rails, :page_links => false%>
<% end -%>
