<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="author" content="yhzhang">
  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'syntax' %>
  <%= stylesheet_link_tag 'blog' %>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <!-- <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script> -->
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <%= javascript_include_tag 'application' %>
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>
<body>
  <div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <a class="blog-nav-item active" href="#">Home</a>
        <a class="blog-nav-item" href="/pages/about">About</a>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="blog-header">
      <h1 id="page_heading"><a href="<%= root_url %>"><%= enki_config[:title] %></a></h1>
      <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
    </div>
    <div class="row">
      <div class="col-sm-8 blog-main">
        <%= yield %>
      </div>
      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <!-- <h4>引言</h4> -->
            <blockquote>
              <p>不积跬步，无以至千里；不积小流，无以成江海。</p>
              <footer>荀子《劝学篇》</footer>
            </blockquote>
          </div>
          <!-- <div class="sidebar-module sidebar-module-inset">
            <form method="get" id="sform" action="http://www.google.com/search">
              <div>
                <h4><label for="q">Search</label></h4>

                <input type="text" id="q" value="" name="q">
                <input type="hidden" name="sitesearch" value="<%= enki_config[:url] %>">
              </div>
            </form>
          </div> -->
          <div class="sidebar-module">
            <h4>页面</h4>
             <ul class="list-unstyled">
              <% page_links_for_navigation.each do |link| -%>
                <li><%= link_to(link.name, link.url) %></li>
              <% end -%>
            </ul>
            <% unless category_links_for_navigation.empty? -%>
              <div class="sidebar-module">
                <h4>分类</h4>
                <ul class="list-unstyled">
                  <% category_links_for_navigation.each do |link| -%>
                    <li><%= link_to(link.name, link.url) %></li>
                  <% end -%>
                </ul>
              </div>
            <% end -%>
          <div class="sidebar-module">
            <h4>友情链接</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/">GitHub</a></li>
              <li><a href="http://rubyonrails.org/">Ruby On Rails</a></li>
              <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->

    </div><!-- /.container -->
    <footer class="blog-footer">
      <p><%= enki_config[:title] %> &#169; <%= enki_config[:author, :name] %>. Valid <a href="http://validator.w3.org/check?uri=referer">HTML5</a> and <%= link_to "ATOM", "http://feedvalidator.org/check.cgi?url=#{enki_config[:url]}/posts.atom" %>. Powered by <a href="http://www.enkiblog.com" title="A Ruby on Rails blogging app for the fashionable developer">Enki</a>.</p>
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  </body>
</html>